.gradle
sierra-tests
docker
.git
bin
build
sierra-core/.git
sierra-core/bin
sierra-core/build
asi_interpreter/.git
asi_interpreter/bin
asi_interpreter/build
sierra-graphql/.git
sierra-graphql/bin
sierra-graphql/build
hivfacts/.git
hivfacts/hivfacts-java/bin
hivfacts/hivfacts-java/build
