[submodule "asi_interpreter"]
	path = asi_interpreter
	url = https://github.com/hivdb/asi_interpreter.git
	branch = 1.4.0.0
[submodule "hivfacts"]
	path = hivfacts
	url = https://github.com/hivdb/hivfacts.git
[submodule "sierra-core"]
	path = sierra-core
	url = https://github.com/hivdb/sierra-core.git
[submodule "sierra-graphql"]
	path = sierra-graphql
	url = git@github.com:hivdb/sierra-graphql.git
