Aligner/*.txt
WebApplications/*.txt
WebApplications/*.json
DrugResistance/*.txt
DrugResistance/*.tsv
DrugResistance/*.json
DrugResistance/Results.xml
DrugResistance/AlgComparisons
DrugResistance/VersionComparisons

OutputFiles/
bin/
target/
.settings/
.project
.classpath
*.log
*.swp
*.swo
*.orig
*.jar
!DrugResistance/lib/resistance-1.0.jar
.DS_Store
__input
__output
.metadata
RemoteSystemsTempFiles

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.syntastic_javac_config
*.pem
