WebApplications/*.txt
WebApplications/*.json
DrugResistance/*.txt

sierra-tests/*.tsv
sierra-tests/*.json
sierra-tests/*.txt
sierra-tests/test/*.txt
sierra-tests/test/*.tsv
sierra-tests/test/*.json
sierra-tests/Results.xml
sierra-tests/AlgComparisons
sierra-tests/VersionComparisons

OutputFiles/
bin/
target/
.settings/
.project
.classpath
*.log
*.swp
*.swo
*.orig
*.jar
!DrugResistance/lib/resistance-1.0.jar
.DS_Store
__input
__output
.metadata
RemoteSystemsTempFiles

.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.syntastic_javac_config
*.pem
