[submodule "hiv-genotyper"]
	path = hiv-genotyper
	url = https://github.com/hivdb/hiv-genotyper.git
[submodule "asi_interpreter"]
	path = asi_interpreter
	url = https://github.com/hivdb/asi_interpreter.git
	branch = 1.4.0.0
[submodule "hivfacts"]
	path = hivfacts
	url = git@github.com:hivdb/hivfacts.git
[submodule "sierra-core"]
	path = sierra-core
	url = git@github.com:hivdb/sierra-core.git
